*{
    padding: 0;
    margin: 0;
}
.barraNav{
    display: flex;
    
}
.barraNav img{
    position: relative;
    height: 100%;
    margin-left: -90%;
    
}
h1{
    font-size: 40px ;
    font-family: 'inriaSans', sans-serif;
}
h3{
    font-size: 16px;
}
.divInput{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 50%;
    height: 100%;

}
p{      
    
    margin-top:10px;
    margin-left: 15%;
    text-align: left;
    font-size: 17px;
    font-family: 'inria Sans';
}

.divInput input{
    
    height: 20px;
    width: 70%;
    padding: 5px;
    border-radius: 2px ;
    border: 2px solid black ;
    margin-top: 10px;
    
    
}
.container{
    margin-top: 2%;
    display: grid;
    place-items: center;
}
.botao{
    margin-top: 1.5%;
}
form.form{
    height:100%;
}
.divInput button#botaoCadastro.botao{
    height:8% ;
    width: 30%;
    margin-top: 2.5%;
}
.input[type="number"]{ /* para tirar o <>*/
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfiel;
}
input[type="number"]::-webkit-inner-spin-button,/* para tirar o <>*/
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}